{{!< layout}}

{{#post}}
  <a href="/" class="block max-w-max sm:mt-4 text-rose-600 font-bold text-sm">&larr; ben.cv</a>

  <div class="sm:mt-24"></div>

  <div class="space-y-2">
    <h1 class="text-4xl text-neutral-900 font-extrabold">{{title}}</h1>
    <p class="text-neutral-500 font-medium">{{date format="MMMM Do, YYYY"}}</p>
  </div>

  <div class="mt-8">
    {{#> prose}}
      {{content}}
    {{/prose}}
  </div>
{{/post}}
